@import url('https://fonts.googleapis.com/css2?family=Fredoka&display=swap');

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	line-height: 1;
    box-sizing: border-box;
    overscroll-behavior: none;
    zoom: unset;
    min-width: 100vw;
    min-height: 100vh;
    font-family: 'Fredoka',sans-serif;
}
@media print {
    * {
        -webkit-print-color-adjust: exact;
     }
}