.range {
    width: 300px;
    height: 15px;
    display: flex;
    align-items: center;
}

.range input[type="range"] {
    -webkit-appearance: none;
    width: inherit;
    position: absolute;
    background-color: transparent;
}

.range input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    background-color: black;
    width: 15px;
    height: 15px;
    border-radius: 10px;

}

.range progress {
    width: 99%;
    height: 6px;
    -webkit-appearance: none;
}

.range progress::-webkit-progress-bar {
    -webkit-appearance: none;
    background-color: white;
    border-radius: 10px;
}

.range progress::-webkit-progress-value {
    -webkit-appearance: none;
    background-color: black;
    border-radius: 10px 0 0 10px;
}