.parent {
    width: 200px;
    height: 200px;
    border: 4px solid rgba(0,0,0,0.1);
    border-radius: 50%;
    margin: 40px;
  }
.ball{
    width: 100px;
    height: 100px;
    offset-path: path("M100,0 A100,100 0 1,1 100,200 A100,100 0 1,1 100,0");
    animation: rotate 5s linear infinite;
}

@keyframes rotate {
    100%{
        offset-distance: 100%;
    }
}

.test{
    width: 300px;
    height: 80px;
    transition: 2s;
    d:path("M0 0L299 0L299 56L0 56L0 0Z");
    transition: 3s;
}

.test:hover #bar {
    transition: 3s;
    d:path("M0 0 L50,0 L50,10 L60,10 L60,0 L100,0 L100,30 L0,30 Z");   
    fill: blue;
}

