body{
    width: 100vw;
    height: 100vh;
}

/* Navigation */
nav{
    background-color: blueviolet;
    width: max-content;
}

/* Item */
.item{
    display: flex;
    align-items: center;
    justify-content: baseline;
    height: 50px;
    width: 100%;
    transition: 0.8s;
    cursor: pointer;
    
}
.item:hover{
    background-color: burlywood;
}

/* Icons */
.icon{
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Text */
.text{
    height: 100%;
    width: calc(100% - 50px);
    background: aliceblue;
    display: flex;
    align-items: center;
}

/* SVG */
svg{
    fill: white;
}